div{
    font-family: Arial, Helvetica, sans-serif

}
.invert{
    filter: invert();
}
.nohyper{
    text-decoration: none;   
    color: black; 
}

.nohyper:hover{
    text-decoration: none;
    color: red;
    }