.tab{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    position: relative;
}
.sw-js-blob-svg{
    position: relative;
    top: 50;
}
.rounded{
    position:absolute;
    width: 109%;
    height: 69%;
}

