<div class="container mt-5 pt-5 mb-5 pb-5">
  <h1> Comment us</h1>
  <div class="col-md-8">
    <form class="row ml-2 g-2">
      <div class="col-md-6 form-floating">
        <input type="email" class="form-control" id="FirstName" placeholder="First Name">
        <label for="FirstName" class="form-control">FirstName</label>
      </div>
      <div class="col-md-6 form-floating">
        <input type="email" class="form-control" id="LastName" placeholder="Last Name">
        <label for="LastName" class="form-control">LastName</label>
      </div>
        <div class="col-md-6 form-floating">
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          <label for="inputEmail4" class="form-control">Email</label>
        </div>
        <div class="col-md-6 form-floating">
          <input type="text" class="form-control" id="inputAddress" placeholder="Address">
          <label for="inputAddress" class="form-control">Address</label>
        </div>
        <div class="col-md-4 form-floating">
          <input type="text" class="form-control" id="inputCity" placeholder="City">
          <label for="inputCity" class="form-control">City</label>
        </div>
        <div class="col-md-4 form-floating">
          <input type="text" class="form-control" id="inputState" placeholder="State">
          <label for="inputState" class="form-control">State</label>
        </div>
        <div class="col-md-4 form-floating">
          <input type="text" class="form-control" id="inputZip" placeholder="Zip">
          <label for="inputZip" class="form-control">Zip</label>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-6">
        <label for="customRange3" class="form-label">Tell Us How Much You Liked</label>
        <div data-toggle="tooltip" data-placement="top" title="Tooltip on top">
          {{mystore}}
        </div>
        <input type="range" class="form-range custom-range" min="0" max="5" step="0.5" id="customRange3"  #store>
      </div>
        <div class="col-12 form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comments</label>
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form>
  </div>
</div>