<nav class="navbar navbar-expand-lg navbar-fixed-top light">
    <div class="container-fluid center">
      <button
        class="navbar-toggler light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" style="color:white"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-1 mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" href="#">Professional-Skills</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="#">Education</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="#">Services</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <nav class="navbar light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="../../assets/WhatsApp Image 2022-05-29 at 1.54.30 AM.jpeg" 
            alt="Bootstrap"
            width="40"
            height="40"
            style="  border-radius: 50%;"
          />
        </a>
      </div>
    </nav>
    </div>
    
  </nav>
  